#title {
  text-align: center;
}
.player-container {
	display: flex;
}

.player-container > div {
	width: 50%;
	padding: 10px;
}

.player-container > div:first-child {
	margin-right: 20px;
}

.player-title {
  text-align: center;
}

.player-command {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: blue;
}
